.navbar-brand.logo {
    color: #7bdcb5;
    font-size: 35px;
}


 .ht {
    color: #8ed1fc;
}

.card_news{
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #0dcaf0;
}

.bg_site_b {
    background-color: red;
}